.example-card {
    width: 300px;
    display: inline-grid;
    border: 1px solid gray;
    margin: 10px;
}
.left-div {
    width: 150px;
    display: flex;
    flex-direction: column;
    background-color: darkgreen;
    text-align: center;
    color: white;
}
.create-button {
    margin: 10px;
}
.outside-div {
    display: inline-flex;
    flex-direction: row;
}
.right-div {
    width: 100%;
}
p {
    margin: 0 15px;
}